.centered-content h1 {
    width: 100%;
    text-align: center;
}

.kalaha-container {
    display: flex;
    padding-left: 2rem;
    margin-right: 2rem;
    padding-top: 1rem;
    background-color: saddlebrown;
    height: 12rem;
}

.kalaha-container label {
    width: 7rem;
    height: 80%;
    font-size: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 9rem;
}

.table {
    height: 100%;
}

.table div {
    height: 50%;
}

.kalaha-text {
    margin-left: 18rem;
}

.pit {
    background: darksalmon;
    border-radius: 50%;
    height: 70%;
}

.pit-enabled {
    background: salmon;
    color: black;
}

.pit-disabled {
    color: azure;
}

.pit-enabled:hover {
    cursor: pointer;
}